<section id="contact">
  <div>
    <img class="moon" src="/assets/img/moon-icons/new-moon.svg">
    <h2>Contact us</h2>
    <h3>Contact our helpful staff.</h3>
    <h4>PO BOX 6196 St Kilda Rd Central, <br>Melbourne, VIC, 8008</h4>
    <a class="button dark-grey" target="_blank" href="mailto:biz@moonmother.com.au">Email us</a>
    <a class="button dark-grey" target="_blank" href="tel:1300556264">1300 556 264</a>
    <img src="/assets/img/jenny@2x.jpg" alt="moon mother jenny moon" class="jenny">
    <h5>Jenny Moon</h5>
    <p>Managing Director</p>
    <p><a href="tel:0419388646" target="_blank">M 0419 388 646</a></p>
    <p><a href="mailto:biz@moonmother.com.au" target="_blank">biz@moonmother.com.au</a></p>
  </div>
</section>

<section id="social">
  <div>
    <img class="moon" src="/assets/img/moon-icons/moon1.svg">
    <h1>Follow Moon Mother</h1>
    <ul id="social-media">
      <a href="https://www.facebook.com/moonmotherproductions/" target="_blank"><img src="/assets/img/facebook.svg"></a>
      <a href="https://www.instagram.com/moonmotherproductions/" target="_blank"><img src="/assets/img/instagram.svg"></a>
    </ul>
    <div id="instafeed"></div>
    <p>&copy;2017 Moon Mother Productions. All rights reserved. Website by <a href="www.hannahsuttondesign.com" target="_blank">Hannah Sutton Design</a></p>
  </div>
</section>
