<section id="contact">
  <div>
    <img class="moon" src="/assets/img/moon-icons/new-moon.svg">
    <h1>Contact us</h1>
    <h3 class="oversize-text">Here to help.</h3>
    <h4>PO BOX 6196 st kilda rd central,<br>Melbourne, VIC, 8008</h4>
    <a href="tel:1300556264" target="_blank">1300 556 264</a>
    <ul>
      <li>
        <img src="/assets/img/jenny@2x.jpg" alt="moon mother jenny moon">
        <h3>Jenny Moon</h3>
        <h4>Managing Director</h4>
        <p>M <a href="tel:0419388646" target="_blank">0419 388 646</a></p>
        <a href="mailto:biz@moonmother.com.au" target="_blank">biz@moonmother.com.au</a>
      </li>
    </ul>
  </div>
</section>

<section id="social">
  <div>
    <img class="moon" src="/assets/img/moon-icons/moon1.svg">
    <h1>Follow Moon Mother</h1>
    <ul id="social-media">
      <a href="https://www.facebook.com/moonmotherproductions/" target="_blank"><img src="/assets/img/facebook.svg"></a>
      <a href="https://www.instagram.com/moonmotherproductions/" target="_blank"><img src="/assets/img/instagram.svg"></a>
    </ul>
    <div id="instafeed"></div>
    <p>&copy;2017 Moon Mother Productions. All rights reserved. Website by <a href="www.hannahsuttondesign.com" target="_blank">Hannah Sutton Design</a></p>
  </div>
</section>
