#page-wrapper {
  background: black;
  main {
    z-index: 1;
    position: relative;
  }
  img.moon {
    width: 100px;
    height: auto;
    margin: 0 auto;
  }
  section.in-the-stars {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    h2 {
      color: white;
      text-transform: uppercase;
      font-family: $lato-bold;
    }
    p {
      color: #dedddd;
      font-family: $garamond-regular;
    }
  }
  section.photoreel {
    overflow: hidden;
    img {
      width: 100vw;
      height: auto;
      @media (max-width: 600px) {
        width: 166.66vw;
      }
    }
  }
}
