#page-wrapper {
  background: black;
  main {
    z-index: 1;
    position: relative;
  }
}

img.moon {
  width: 120px;
  height: auto;
  margin: 0 auto;
}
section.in-the-stars {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 100px 30px;
  h2 {
    color: white;
    text-transform: uppercase;
    font-family: $lato-bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 3px;
    margin: 28px 0 42px;
  }
  p {
    color: #dedddd;
    color: $light-grey;
    font-family: $garamond-regular;
    font-size: 27px;
    max-width: 450px;
    line-height: 150%;
    margin-top: 34px;
  }
  hr {
    max-width: 240px;
    margin: 58px auto 0;
  }
  .button,
  button {
    margin: 54px 0 0;
  }
}
section.photoreel {
  overflow: hidden;
  img {
    width: 100vw;
    height: auto;
    @media (max-width: 600px) {
      width: 166.66vw;
    }
  }
}
hr {
  position: relative;
  height: 1px;
  margin: 0;
  border: 0;
  &:after,
  &:before {
    content: ' ';
    display: none;
    position: absolute;
    width: 7px;
    height: 7px;
    border-width: 1px;
    border-style: solid;
    border-radius: 100%;
    box-sizing: border-box;
  }
  &:before {
    left: 0;
    transform: translate(-7px, -3px);
  }
  &:after {
    right: 0;
    transform: translate(7px, -3px);
  }
  &.left {
    &:before {
      display: block;
    }
  }
  &.right {
    &:after {
      display: block;
    }
  }
  &.white {
    background: white;
    &:after,
    &:before {
      border-color: white;
    }
  }
  &.dark {
    background: #424242;
    &:after,
    &:before {
      border-color: #424242;
    }
  }
}

.button,
button {
  font-family: $lato-regular;
  background: none;
  border: 1px solid #FFF;
  color: white;
  line-height: 60px;
  margin: 54px 0 0;
  padding: 0 50px;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
  outline: 0;
  transition: background 200ms ease;
  &:hover {
    background: RGBA(255,255,255,0.2);
  }
}

a.button,
button {
  display: block;
  text-decoration: none;
  font-family: $lato-regular;
  background: none;
  text-transform: uppercase;
  user-select: none;
  outline: 0;
  text-align: center;
  .white-border {
    border: 1px solid #FFF;
    color: white;
    line-height: 60px;
    padding: 0 50px;
    font-size: 20px;
    letter-spacing: 2px;
    transition: background 200ms ease;
    &:hover {
      background: RGBA(255,255,255,0.2);
    }
  }
  .err {
    color: $light-grey;
    font-family: $lato-regular;
    font-size: 13px;
    border: 1.5px solid $light-grey;
    padding: 15px 0;
    // margin-bottom: 90px;
    width: 240px;
    transition: transform 200ms ease-in-out;
    &:hover {
      transform: scale(1.02);
    }
  }
}
