<header>
  <h1>Moommother</h1>
  <ul>
    <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    <li>{{#link-to 'about'}}About{{/link-to}}</li>
    <li>{{#link-to 'services'}}Services{{/link-to}}</li>
  </ul>
</header>
{{outlet}}
<footer>
  <p>footer</p>
</footer>
