<header>
  <h1>Moommother</h1>
  <img src="/assets/img/logo.svg" alt="logo Moonmother">
  <ul>
    <li>
      {{#link-to 'index'}}Home{{/link-to}}
    </li>
    <li>
      {{#link-to 'about'}}About{{/link-to}}
    </li>
    <li>
      {{#link-to 'services'}}Services{{/link-to}}
    </li>
  </ul>
</header>
{{outlet}}
<section id="footer">
  <div>
    <img class="moon" src="/assets/img/moon-icons/moon1.svg">
    <h1>Follow Moon Mother</h1>
    <ul id="social-media">
      <a href="https://www.facebook.com/moonmotherproductions/" target="_blank"><img src="/assets/img/facebook.svg"></a>
      <a href="#" target="_blank"><img src="/assets/img/twitter.svg"></a>
      <a href="https://www.instagram.com/moonmotherproductions/" target="_blank"><img src="/assets/img/instagram.svg"></a>
    </ul>
    <div id="instafeed"></div>
    <p>&copy;2017 Moon Mother Productions. All rights reserved. Website by <a href="www.hannahsuttondesign.com">Hannah Sutton Design</a></p>
  </div>
</section>
