html {
  min-width: 320px;
  height: 100%;
}

body {
  min-width: 320px; // The smallest width any website should be optimised for (iPhone 5 width), below we don't support
  height: 100%;
  // The font styles all headings and paragraphs will inherit
  font-family: $garamond-regular;
  font-size: 16px;
  line-height: 100%;
  color: $paragraph-grey;
  // Make browsers render fonts the same
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &.prevent-scroll {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
strong {
  margin: 0; // Overwrite the unpredictable default margins browsers add
  font-weight: normal; // To avoid browsers from adding their onw awkward bolding to our already bold font families
  line-height: 100%;
}
strong {
  font-family: $garamond-regular;
}

// Prevent <img> and <iframe> from having awkward empty space underneath
iframe,
img {
  display: block;
}

// Remove default margins
figure {
  margin: 0;
}

// Avoid browsers from adding their own blue glow around buttons
a,
button {
  outline: 0;
}

// Not all buttons get hover over cursor...
button {
  cursor: pointer;
}

// Most of the time <ul> are not used as bullets, thus we overwrite default padding / margin
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    color: $paragraph-grey;
  }
}

// For this project only

p {
  font-family: $lato-regular;
}

img.moon {
  width: 120px;
  height: auto;
  margin: 0 auto 28px;
}

img.moon + h2 {
  text-transform: uppercase;
  font-family: $lato-bold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 2px;
  text-align: center;
  color: #424241;
  @media (max-width: 400px) {
    font-size: 5vw;
  }
}

section.heading {
  background: $page-wide-heading-bg;
  padding: 120px 0;
  h2 {
    font-size: 20px;
    text-transform: uppercase;
    color: $page-wide-heading-text;
  }
}
section.in-the-stars {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 100px 30px;
  transition: height 4000ms ease;
  box-sizing: border-box;
  h2 {
    color: white;
    text-transform: uppercase;
    font-family: $lato-bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 3px;
    margin: 28px 0 42px;
  }
  p {
    color: #dedddd;
    color: $light-grey;
    font-family: $garamond-regular;
    font-size: 27px;
    max-width: 540px;
    line-height: 150%;
    margin-top: 34px;
  }
  hr {
    max-width: 240px;
    margin: 58px auto 0;
  }
  .button,
  button {
    margin: 54px auto 0;
  }
  body.moon & {
    min-height: 71vh;
  }
}
section.photoreel {
  overflow: hidden;
  width: 100vw;
  height: 20vw;
  background-position: 50% 50%;
  background-repeat: repeat;
  background-size: cover;
  background: url("/assets/img/photoreel@2x.jpg") repeat 50% 50% / cover;
  &.homepage {
    background-image: url("/assets/img/homepage/photoreel@2x.jpg");
  }
  &.services {
    background-image: url("/assets/img/services-photoreel@2x.jpg");
  }
  @media (min-width: 1600px) {
    height: 320px;
    background-size: auto 100%;
  }
  @media (max-width: 1200px) {
    &.homepage {
      background-image: url("/assets/img/homepage/photoreel.jpg");
    }
    &.services {
      background-image: url("/assets/img/services-photoreel.jpg");
    }
  }
  @media (max-width: 600px) {
    height: 33.333vw;
    // background-size: 166.66vw 100%;
    &.homepage {
      background-image: url("/assets/img/homepage/photoreel-mobile@2x.jpg");
    }
    &.services {
      background-image: url("/assets/img/services-photoreel-mobile@2x.jpg");
    }
  }
}
hr {
  position: relative;
  height: 1px;
  margin: 0;
  border: 0;
  &:after,
  &:before {
    content: ' ';
    display: none;
    position: absolute;
    width: 7px;
    height: 7px;
    border-width: 1px;
    border-style: solid;
    border-radius: 100%;
    box-sizing: border-box;
  }
  &:before {
    left: 0;
    transform: translate(-7px, -3px);
  }
  &:after {
    right: 0;
    transform: translate(7px, -3px);
  }
  &.left {
    &:before {
      display: block;
    }
  }
  &.right {
    &:after {
      display: block;
    }
  }
  &.white {
    background: white;
    &:after,
    &:before {
      border-color: white;
    }
  }
  &.dark {
    background: #424242;
    &:after,
    &:before {
      border-color: #424242;
    }
  }
}

a.button,
button {
  display: inline-block;
  text-decoration: none;
  font-family: $lato-regular;
  background: none;
  text-transform: uppercase;
  text-align: center;
  outline: 0;
  border: 0;
  user-select: none;
  max-width: 100%;
  box-sizing: border-box;
  white-space: nowrap;
  &.white-background {
    background: #F4F4F4;
    line-height: 52px;
    padding: 0 50px;
    letter-spacing: 1px;
    transition: all 200ms ease;
    transition-property: background, padding;
    &:hover {
      padding: 0 60px;
      background: white;
    }
  }
  &.white-border {
    border: 1px solid #FFF;
    color: white;
    line-height: 60px;
    padding: 0 50px;
    font-size: 22px;
    letter-spacing: 2px;
    font-size: 15px;
    line-height: 50px;
    transition: all 200ms ease;
    transition-property: background, padding;
    &:hover {
      background: RGBA(255,255,255,0.2);
      padding: 0 60px;
    }
  }
  &.dark-grey {
    background: #1e1e1e;
    color: $light-grey;
    font-family: $lato-regular;
    font-size: 18px;
    line-height: 65px;
    padding: 0 15px;
    transition: background 200ms ease;
    letter-spacing: 2px;
    color: white;
    &:hover {
      background: lighten(#1e1e1e, 15%);
    }
  }
}
