@font-face {
  font-family: 'EB Garamond';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/garamond/subset-EBGaramond.eot');
  src: url('fonts/garamond/subset-EBGaramond.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/garamond/subset-EBGaramond.woff2') format('woff2'),
    url('fonts/garamond/subset-EBGaramond.woff') format('woff'),
    url('fonts/garamond/subset-EBGaramond.ttf') format('truetype'),
    url('fonts/garamond/subset-EBGaramond.svg#EBGaramond') format('svg');
}
@font-face {
  font-family: 'Lato-Regular';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/lato/subset-Lato-Regular.eot');
  src: url('fonts/lato/subset-Lato-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/lato/subset-Lato-Regular.woff2') format('woff2'),
    url('fonts/lato/subset-Lato-Regular.woff') format('woff'),
    url('fonts/lato/subset-Lato-Regular.ttf') format('truetype'),
    url('fonts/lato/subset-Lato-Regular.svg#Lato-Regular') format('svg');
}
@font-face {
  font-family: 'Lato-Bold';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/lato/subset-Lato-Bold.eot');
  src: url('fonts/lato/subset-Lato-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/lato/subset-Lato-Bold.woff2') format('woff2'),
    url('fonts/lato/subset-Lato-Bold.woff') format('woff'),
    url('fonts/lato/subset-Lato-Bold.ttf') format('truetype'),
    url('fonts/lato/subset-Lato-Bold.svg#Lato-Bold') format('svg');
}
