@font-face {
	font-family: 'EB Garamond';
	src: url('subset-EBGaramond.eot');
	src: url('subset-EBGaramond.eot?#iefix') format('embedded-opentype'),
		url('subset-EBGaramond.woff2') format('woff2'),
		url('subset-EBGaramond.woff') format('woff'),
		url('subset-EBGaramond.ttf') format('truetype'),
		url('subset-EBGaramond.svg#EBGaramond') format('svg');
	font-weight: normal;
	font-style: normal;
}
