// Fonts
$garamond-regular: 'EB Garamond', sans-serif;
$lato-regular: 'Lato-Regular', sans-serif;
$lato-bold: 'Lato-Bold', sans-serif;

// Colours
$galaxy-navy: #08162d;
$galaxy-brown: #0c0d19;
$galaxy-black: #000;
$light-grey: #dedddd;
$dark-grey: #303030;
$darkest-grey: #1e1e1e;
$logo-grey: #bcbcbc;
$galaxy-h1-grey: #c6c4c4;
$galaxy-orbit-line-grey: #dedddd;

// Temporary
$paragraph-grey: #5d626d;

// Services page
$page-wide-heading-text: #424241;
$page-wide-heading-bg: #e8e8e8;
