// Fonts
$garamond-regular: 'EB Garamond', sans-serif;
$lato-regular: 'Lato-Regular', sans-serif;

// Colours
$galaxy-navy: #08162D;
$galaxy-brown: #0C0D19;
$galaxy-black: #000;
$light-grey: #DEDDDD;
$dark-grey: #303030;
$darkest-grey: #1E1E1E;
$logo-grey: #bcbcbc;
$galaxy-h1-grey: #c6c4c4;
$galaxy-orbit-line-grey: #dedddd;

// Temporary
$paragraph-grey: #5D626D;
