section#testimonials {
  position: relative;
  background-color: $light-grey;
  > div {
    padding: 85px 0 120px;
    width: 64vw;
    max-width: 700px;
    box-sizing: border-box;
    margin: 0 auto;
    > div {
      display: flex;
    }
  }
  img.moon + h2 {
    margin-bottom: 85px;
  }
  .quotes {
    position: relative;
    blockquote {
      text-align: center;
      margin: 0;
      &:not(:first-child) {
        display: none;
      }
      p.quote {
        color: $dark-grey;
        font-family: $garamond-regular;
        font-size: 36px;
        margin-bottom: 60px;
        line-height: 120%;
        cursor: default;
        @media (max-width: 600px) {
          font-size: 6vw;
        }
        @media (max-width: 450px) {
          font-size: 8vw;
        }
        @media (max-width: 400px) {
          font-size: 7.6vw;
        }
      }
      footer {
        cite,
        p {
          color: $dark-grey;
          letter-spacing: 1px;
          line-height: 150%;
        }
        cite {
          display: block;
          text-transform: uppercase;
          font-family: $lato-regular;
          font-style: normal;
          font-size: 20px;
          margin-bottom: 10px;
        }
        p {
          font-size: 18px;
        }
      }
    }
  }

  nav {
    .arrow {
      position: absolute;
      top: 0;
      width: 18vw;
      height: 100%;
      max-width: 240px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background 200ms ease;
      background: rgba(black, 0);
      cursor: pointer;
      user-select: none;
      &.prev {
        left: 0;
        img {
          transform: translateX(1vw);
        }
      }
      &.next {
        right: 0;
        img {
          transform: translateX(-1vw);
        }
      }
      &:hover {
        background: rgba(black, 0.03);
        img {
          transform: translateX(0);
        }
      }
      img {
        width: 3vw;
        transition: transform 200ms ease;
        min-width: 24px;
        max-width: 37px;
        height: auto;
      }
    }
  }
}
