<section id="intro" class="in-the-stars">
  <div>
    <img class="moon" src="/assets/img/moon-icons/moon1.svg">
    <h2>Services</h2>
    <p>With our comprehensive list of event production services, know you're in capable hands.</p>
    <p>If you need assistance with choosing and planning your event, allow one of our experts to help you.</p>
    <button>Contact</button>
    {{!-- <img class="moon" src="/assets/img/moon-icons/closer.svg"> --}}
  </div>
</section>

<section id="complete" class="two-third text-left">
  <div>
    <h2>We pride ourselves on the standard of audio production equipment, and will always ensure it is well maintained and upgraded to the latest technology.</h2>
  </div>
  <figure>
    <img src="/assets/img/themed-events@2x.jpg" alt="stage setup for Red Bull">
    <figcaption>Stage setup for Red Bull</figcaption>
  </figure>
</section>

<section id="audio" class="two-third text-right">
  <div>
    <h2>We pride ourselves on the standard of audio production equipment, and will always ensure it is well maintained and upgraded to the latest technology.</h2>
  </div>
  <figure>
    <img src="/assets/img/themed-events@2x.jpg" alt="stage setup for Red Bull">
    <figcaption>Stage setup for Red Bull</figcaption>
  </figure>
</section>

<section id="personal" class="two-third text-left">
  <div>
    <h2>We pride ourselves on the standard of audio production equipment, and will always ensure it is well maintained and upgraded to the latest technology.</h2>
  </div>
  <figure>
    <img src="/assets/img/themed-events@2x.jpg" alt="stage setup for Red Bull">
    <figcaption>Stage setup for Red Bull</figcaption>
  </figure>
</section>
