<section class="in-the-stars">
  <p>Temporary navigation:</p>
  <ul>
    <li>
      {{#link-to 'event-hire'}}Event Hire{{/link-to}}
    </li>
    <li>
      {{#link-to 'festival-stage-hire'}}Festival Stage Hire{{/link-to}}
    </li>
    <li>
      {{#link-to 'mobile-trailer-stage'}}Mobile Trailer Stage{{/link-to}}
    </li>
    <li>
      {{#link-to 'sound-system'}}Sound System{{/link-to}}
    </li>
    <li>
      {{#link-to 'lighting-hire'}}Lighting Hire{{/link-to}}
    </li>
    <li>
      {{#link-to 'truss-hire'}}Truss Hire{{/link-to}}
    </li>
    <li>
      {{#link-to 'av-hire'}}AV Hire{{/link-to}}
    </li>
  </ul>
</section>