{{!-- <svg viewBox="0 0 500 500">
  <path id="curve" d="M73.2,148.6c4-6.1,65.5-96.8,178.6-95.6c111.3,1.2,170.8,90.3,175.1,97" />
  <text width="500" text-anchor="middle">
    <textPath alignment-baseline="top" xlink:href="#curve">Dangerous Curves Ahead</textPath>
  </text>
</svg> --}}

<div id="galaxy">
  <div id="constelation">
    <div id="logo" onclick={{action 'moonGlow' false}}>
      {{#link-to 'index'}}
        <img src="/assets/img/logo/owl-and-moon.svg" alt="Logo of Moonmother Productions">
        <img src="/assets/img/logo/moon.svg" alt="Moon">
        <img src="/assets/img/logo/mother.svg" alt="Mother">
        <img src="/assets/img/logo/productions.svg" alt="Productions">
      {{/link-to}}
    </div>
    <div id="home" class="planet" onclick={{action 'moonGlow' true}}>
      {{#link-to 'index'}}
        <img src="/assets/img/galaxy/home.svg" alt="home">
        <span></span>
      {{/link-to}}
    </div>
    <div id="about" class="planet" onclick={{action 'moonGlow' true}}>
      {{#link-to 'about'}}
        <img src="/assets/img/galaxy/about.svg" alt="about">
        <span></span>
      {{/link-to}}
    </div>
    <div id="services" class="planet" onclick={{action 'moonGlow' true}}>
      {{#link-to 'services'}}
        <img src="/assets/img/galaxy/services.svg" alt="services">
        <span></span>
      {{/link-to}}
    </div>
  </div>
  <div class="clip">
    <div class="center">
      <div class="glow">
        <img src="/assets/img/galaxy@2x.png">
      </div>
    </div>
  </div>
</div>

<div id="tagline">
  <h1>Going above and beyond to bring your event to life.</h1>
</div>
