main {
  section {
    &.in-the-stars {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 100px 30px;
      transition: height 4000ms ease;
      box-sizing: border-box;
      h1,
      h2 {
        color: white;
        line-height: 100%;
        letter-spacing: 3px;
        margin: 28px 0 42px;
      }
      h1 {
        font-family: $garamond-regular;
        font-size: 35px;
      }
      i.moon-icon + h2 {
        font-family: $lato-bold;
        font-size: 25px;
        margin-top: 28px;
        line-height: 140%;
        text-transform: uppercase;
        font-family: $lato-bold;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 2px;
        text-align: center;
        color: white !important; // Ugh
        @media (max-width: 400px) {
          font-size: 5vw;
        }
      }
      p {
        color: #dedddd;
        color: $light-grey;
        font-family: $garamond-regular;
        font-size: 25px;
        max-width: 520px;
        line-height: 150%;
        margin-top: 34px;
        margin: 34px auto 0;
        @media (max-width: 700px) {
          font-size: 22px;
          max-width: 320px !important;
        }
      }
      i.moon {
        margin-bottom: 48px;
      }
      hr {
        max-width: 240px;
        margin: 58px auto 0;
      }
      .button,
      button {
        margin: 54px auto 0;
      }
      body.moon & {
        min-height: 71vh;
      }
    }
    &.heading {
      background: $page-wide-heading-bg;
      padding: 110px 20px;
    }
    &.left-right {
      > div {
        margin: 0 auto;
        padding: 100px 8vw;
        display: flex;
        justify-content: center;
        @media (max-width: 800px) {
          flex-direction: column;
        }
      }
      .left {
        margin-right: 2vw;
        @media (max-width: 800px) {
          margin: 0 auto;
        }
      }
      .right {
        margin-left: 2vw;
        @media (max-width: 800px) {
          margin: 0 auto;
        }
        > p:first-child {
          @media (max-width: 800px) {
            margin-top: 30px;
          }
        }
        > i.moon-icon:first-child {
          @media (max-width: 800px) {
            margin-top: 100px;
          }
        }
      }
      .text {
        max-width: 400px;
        width: 100%;
      }
      .photo {
        max-width: 500px;
        @media (max-width: 900px) {
          max-width: 400px;
        }
        &.one {
          display: flex;
          flex-direction: column;
          img {
            width: 100%;
            height: auto;
          }
        }
        &.two {
          display: flex;
          flex-direction: column;
          img {
            width: 100%;
            height: auto;
            &:last-child {
              margin-top: 1vw;
            }
          }
        }
        &.four {
          > div {
            display: flex;
            flex-flow: row wrap;
            align-items: flex-start;
            @media (max-width: 1000px) and (min-width: 801px) {
              flex-flow: column nowrap;
              align-items: flex-end;
            }
            img {
              width: 46%;
              height: auto;
              margin: 2%;
              @media (max-width: 1000px) and (min-width: 801px) {
                width: 70%;
              }
            }
          }
        }
        &.right {
          @media (max-width: 800px) {
            margin-top: 8vw;
          }
        }
      }
    }
    &.centre-all {
      > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        max-width: 1200px;
        min-width: 320px;
        margin: 0 auto;
        padding: 110px 10vw;
        box-sizing: border-box;
      }
    }
    &.white-background {
      background-color: white;
      color: #333333;
      h1,
      h2,
      h3 {
        color: #242221;
      }
      a {
        color: white;
      }
    }
    &.grey-background {
      background-color: #424241;
      color: white;
      a {
        color: white;
      }
    }
    &.dark-background {
      background-color: #1e1e1e;
      color: white;
      a {
        color: white;
      }
    }

    // Common pattern 1
    &.left-right.white-background {
      & + .left-right {
        > div {
          padding-top: 0;
        }
      }
      h2:first-child {
        font-size: 34px;
        margin: 0 0 30px;
        line-height: 140%;
        color: #242221;
      }
      i.moon-icon + h2 {
        font-size: 34px;
        margin: 30px 0;
        line-height: 140%;
        color: #242221;
        text-align: center;
      }
      i.moon-icon + h3 {
        font-size: 26px;
        margin: 30px 0;
        line-height: 140%;
        color: #333333;
        text-align: center;
      }
      h3 {
        font-size: 22px;
        margin: 0;
        color: #333333;
        & + p {
          margin-top: 15px;
        }
      }
      p + h3 {
        margin-top: 30px;
      }
      p,
      a,
      li {
        font-family: $lato-regular;
        color: #333333;
      }
      ul {
        list-style: disc;
        padding-left: 6px;
        margin-top: 20px;
        li {
          margin-left: 10px;
          a {
            line-height: 140%;
            font-family: $garamond-regular;
            font-size: 20px;
            color: #333333;
            text-decoration: none;
            &:hover {
              position: relative;
              &:after {
                position: absolute;
                content: ' ';
                height: 1px;
                width: 100%;
                background: #333333;
                left: 0;
                bottom: 1px;
              }
            }
          }
        }
      }
      p,
      li {
        line-height: 190%;
        font-size: 13px;
        letter-spacing: 1.2px;
        & + p {
          margin-top: 30px;
        }
      }
    }

    // Common pattern 2
    &.centre-all.dark-background {
      h2 {
        font-size: 34px;
        margin: 30px 0;
        line-height: 140%;
      }
      p {
        font-family: $garamond-regular;
        font-size: 21px;
        max-width: 680px;
        line-height: 150%;
      }
      a {
        position: relative;
        text-decoration: none;
        &:hover {
          &:after {
            background: rgba(white, 0.5);
            bottom: -15%;
          }
          &:before {
            background: rgba(white, 0.5);
            bottom: 95%;
          }
        }
        &:after,
        &:before {
          content: ' ';
          position: absolute;
          bottom: -15%;
          left: -1%;
          height: 1px;
          width: 102%;
          background: rgba(white, 0.25);
          transition: bottom 200ms $easeOutCubic;
        }
      }
    }

    // Common pattern 3
    &.centre-all.white-background {
      & + .left-right {
        > div {
          padding-top: 1vw;
        }
      }
      > div {
        padding-top: 0;
        padding-bottom: 0;
      }
      h2 {
        font-size: 29px;
        margin: 30px 0;
        line-height: 140%;
      }
    }

    // Common pattern 4
    &.centre-all.grey-background {
      h2 {
        font-size: 27px;
        margin: 30px 0;
        line-height: 140%;
      }
      p,
      li,
      a {
        line-height: 190%;
        font-size: 13px;
        letter-spacing: 1.2px;
        max-width: 660px;
        font-family: $lato-regular;
      }
      a {
        &:hover {
          text-decoration: none;
        }
      }
      ul {
        margin: 30px;
      }
    }

    picture.truss {
      width: 100%;
      max-width: 1100px;
      margin-bottom: 40px;
      @media (max-width: 1200px) {
        width: 88vw;
      }
      @media (max-width: 700px) {
        width: 130vw; // To compensate for badly cropped SVG
      }
      img {
        width: 100%;
        height: auto;
        transform: translateX(38px);
        @media (max-width: 1200px) {
          transform: translateX(3.5vw);
        }
        @media (max-width: 700px) {
          transform: translateX(0vw);
        }
      }
    }
  }
}
