main {
  section.heading {
    background: $page-wide-heading-bg;
    padding: 110px 20px;
    h2 {
      color: $page-wide-heading-text;
      line-height: 140%;
    }
  }

  section.in-the-stars {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 100px 30px;
    transition: height 4000ms ease;
    box-sizing: border-box;
    > div {
      animation: fade-up 2200ms $easeOutCubic;
    }
    h1,
    h2 {
      color: white;
      text-transform: uppercase;
      font-family: $lato-bold;
      font-size: 20px;
      line-height: 100%;
      letter-spacing: 3px;
      margin: 28px 0 42px;
    }
    p {
      color: #dedddd;
      color: $light-grey;
      font-family: $garamond-regular;
      font-size: 25px;
      max-width: 520px;
      line-height: 150%;
      margin-top: 34px;
      margin: 34px auto 0;
      @media (max-width: 700px) {
        font-size: 22px;
        max-width: 320px !important;
      }
    }
    hr {
      max-width: 240px;
      margin: 58px auto 0;
    }
    .button,
    button {
      margin: 54px auto 0;
    }
    body.moon & {
      min-height: 71vh;
    }
  }

  section.photoreel {
    overflow: hidden;
    width: 100vw;
    height: 20vw;
    background-position: 50% 50%;
    background-repeat: repeat;
    background-size: cover;
    background: url('/assets/img/photoreel@2x.jpg') repeat 50% 50% / cover;
    &.homepage {
      background-image: url('/assets/img/homepage/photoreel@2x.jpg');
    }
    &.services {
      background-image: url('/assets/img/services-photoreel@2x.jpg');
    }
    @media (min-width: 1600px) {
      height: 320px;
      background-size: auto 100%;
    }
    @media (max-width: 1200px) {
      &.homepage {
        background-image: url('/assets/img/homepage/photoreel.jpg');
      }
      &.services {
        background-image: url('/assets/img/services-photoreel.jpg');
      }
    }
    @media (max-width: 600px) {
      height: 33.333vw;
      &.homepage {
        background-image: url('/assets/img/homepage/photoreel-mobile@2x.jpg');
      }
      &.services {
        background-image: url('/assets/img/services-photoreel-mobile@2x.jpg');
      }
    }
  }

  section.plain-text {
    background: white;
    h1 {
      font-size: 42px;
      line-height: 120%;
      margin: 80px 0 40px;
    }
    h2 {
      font-size: 30px;
      line-height: 150%;
      margin: 60px 0 20px;
    }
    ul {
      list-style: disc;
      padding-left: 20px;
      margin: 0 0 20px;
      li {
        font-family: $lato-regular;
        font-size: 16px;
        line-height: 150%;
        margin: 0;
      }
    }
    p {
      font-size: 16px;
      line-height: 150%;
      margin: 0 0 20px;
    }
    > div {
      margin: 0 auto;
      max-width: 800px;
      padding: 50px;
    }
  }

  section.text-left-photo-right {
    background: white;
    > div {
      display: flex;
      padding: 100px 10vw;
      justify-content: space-around;
      max-width: 1200px;
      margin: 0 auto;
      @media (max-width: 720px) {
        flex-direction: column-reverse;
        align-items: center;
      }
    }
    .text {
      @media (min-width: 721px) {
        width: 50%;
        max-width: 440px;
        margin-right: 20px;
      }
      @media (max-width: 1000px) and (min-width: 721px) {
        width: 60%;
      }
      @media (max-width: 720px) {
        width: 98%;
        margin-top: 30px;
      }
      h2 {
        font-size: 32px;
        letter-spacing: 1.2px;
        line-height: 140%;
        color: #242221;
        max-width: 400px;
        margin-bottom: 30px;
        @media (max-width: 700px) {
          text-align: left;
          align-self: flex-start;
        }
        @media (max-width: 400px) {
          font-size: 8vw;
        }
      }
      p {
        color: #333333;
        line-height: 190%;
        font-size: 13px;
        letter-spacing: 1.2px;
        & + p {
          margin-top: 30px;
        }
      }
    }
    .photo {
      @media (min-width: 721px) {
        width: 50%;
        max-width: 600px;
        margin-left: 20px;
      }
      @media (max-width: 1000px) and (min-width: 721px) {
        width: 40%;
      }
      @media (max-width: 720px) {
        width: 100%;
      }
      .foursome {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        @media (max-width: 1000px) and (min-width: 721px) {
          flex-flow: column nowrap;
          align-items: flex-end;
        }
        img {
          width: 46%;
          height: auto;
          margin: 2%;
          @media (max-width: 1000px) and (min-width: 721px) {
            width: 70%;
          }
        }
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  section.title-left-text-right {
    background: white;
    > div {
      display: flex;
      padding: 100px 10vw;
      justify-content: space-around;
      max-width: 1080px;
      margin: 0 auto;
      @media (max-width: 700px) {
        flex-direction: column;
        align-items: center;
      }
    }
    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      @media (min-width: 721px) {
        width: 40%;
        max-width: 420px;
      }
      @media (max-width: 700px) {
        width: 100%;
        margin-bottom: 30px;
      }
      img {
        margin-bottom: 30px;
      }
      h2 {
        font-size: 32px;
        letter-spacing: 1.2px;
        line-height: 140%;
        color: #242221;
        max-width: 400px;
        @media (min-width: 721px) {
          text-align: center;
        }
        @media (max-width: 700px) {
          align-self: flex-start;
        }
        @media (max-width: 400px) {
          font-size: 8vw;
        }
      }
    }
    .text {
      @media (min-width: 721px) {
        width: 40%;
        max-width: 420px;
      }
      @media (max-width: 700px) {
        width: 100%;
      }
      p {
        color: #333333;
        line-height: 190%;
        font-size: 13px;
        letter-spacing: 1.2px;
        & + p {
          margin-top: 30px;
        }
      }
    }
  }

  section.icon-title-text-stacked {
    background: #1e1e1e;
    color: white;
    > div {
      padding: 100px 10vw 120px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    img {
      height: 62px;
      width: auto;
    }
    h2 {
      text-align: center;
      font-size: 32px;
      margin: 50px 0;
      letter-spacing: 1.2px;
      line-height: 140%;
      max-width: 520px;
      @media (max-width: 400px) {
        font-size: 8vw;
      }
    }
    p {
      font-family: $garamond-regular;
      line-height: 170%;
      font-size: 24px;
      text-align: center;
      max-width: 700px;
      @media (max-width: 400px) {
        font-size: 5vw;
      }
    }
  }

  section {
    &.centered {
      > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        max-width: 1200px;
        min-width: 320px;
        margin: 0 auto;
        padding: 110px 10vw;
      }
    }
    &.white-bg {
      background-color: white;
      color: #333333;
      h1,
      h2,
      h3 {
        color: #242221;
      }
      a {
        color: white;
      }
    }
    &.medium-grey {
      background-color: #424241;
      color: white;
      a {
        color: white;
      }
    }
    &.dark-grey {
      background-color: #1e1e1e;
      color: white;
      a {
        color: white;
      }
    }
    &.sans-serif {
      h2 {
        font-size: 34px;
        margin: 30px;
      }
      p {
        font-family: $garamond-regular;
        font-size: 21px;
        max-width: 680px;
        line-height: 150%;
      }
    }
  }
}
