<section id="intro" class="in-the-stars">
  <div>
    <img class="moon" src="/assets/img/moon-icons/moon1.svg">
    <h2>Services</h2>
    <p>With our comprehensive list of event production services, know you're in capable hands.</p>
    <p>If you need assistance with choosing and planning your event, allow one of our experts to help you.</p>
    <button onclick={{action 'scrollToContact'}}>Contact</button>
    {{!-- <img class="moon" src="/assets/img/moon-icons/closer.svg"> --}}
  </div>
</section>

<section class="heading">
  <img class="moon" src="/assets/img/moon-icons/moon2.svg">
  <h2>Technical Production &amp; Av Equipment Hire</h2>
</section>

<section id="equipment">
  <ul>
    <li>
      <img src="/assets/img/communitylocal@2x.jpg" alt="">
      <div>
        <h3>Staging</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <img src="/assets/img/communitylocal@2x.jpg" alt="">
    </li>
    <li>
      <img src="/assets/img/communitylocal@2x.jpg" alt="">
      <div>
        <h3>Audio</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <img src="/assets/img/communitylocal@2x.jpg" alt="">
    </li>
    <li>
      <img src="/assets/img/communitylocal@2x.jpg" alt="">
      <div>
        <h3>Lighting</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <img src="/assets/img/communitylocal@2x.jpg" alt="">
    </li>
    <li>
      <img src="/assets/img/communitylocal@2x.jpg" alt="">
      <div>
        <h3>Av Hire</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <img src="/assets/img/communitylocal@2x.jpg" alt="">
    </li>
    <li>
      <img src="/assets/img/communitylocal@2x.jpg" alt="">
      <div>
        <h3>Backline</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <img src="/assets/img/communitylocal@2x.jpg" alt="">
    </li>
    <li>
      <img src="/assets/img/communitylocal@2x.jpg" alt="">
      <div>
        <h3>Marquees &amp; Other Equipment</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <img src="/assets/img/communitylocal@2x.jpg" alt="">
    </li>
  </ul>
</section>

<section class="heading">
  <img class="moon" src="/assets/img/moon-icons/moon2.svg">
  <h2>Event Management and Services</h2>
</section>

<section id="services">
  <div>
    <h3>Now you've seen our equipment, let us show you what we can do with it</h3>
  </div>
</section>

<section class="photoreel">
  <img src="/assets/img/photoreel@2x.jpg" alt="moon mother photo reel">
</section>
