<section id="intro" class="in-the-stars">
  <div>
    <img class="moon" src="/assets/img/moon-icons/waning-crescent-white.svg" alt="white icon of waning crescent moon">
    <h2>About us</h2>
    <p>Operating since 1991, Jenny Moon and her team offer a complete range of event production services.</p>
    <p>From humble beginnings in stage and audio production, our Production crew possesses over 60 years combined experience in delivering event excellence.</p>
    <hr class="white left right">
  </div>
</section>

<section id="complete" class="two-third text-right">
  <div class="text">
    <div>
      <h3>Complete event services</h3>
      <h2>Our services range from event production to complete event management.</h2>
      <p>This can include staging, audio, lighting, audio visual, special effects, programming and production, concept design and theming, event planning and coordination including infrastructure, logistics, event plans and risk management.</p>
      <hr class="dark left">
    </div>
  </div>
  <figure>
    <img src="/assets/img/about-1@2x.jpg" alt="Wiggle Amys Gran Fondo">
    <figcaption>Amy's Gran Fondo</figcaption>
  </figure>
</section>

<section id="audio" class="two-third text-left">
  <div class="text">
    <div>
      <h3>Best audio production equipment</h3>
      <h2>We pride ourselves on the standard of audio production equipment, and will always ensure it is well maintained and upgraded to the latest technology.</h2>
      <p>Our equipment will always be accompanied and operated by one of our experienced staff members - We don't offer dry hire of our equipment, so you are guaranteed of receiving the best equipment and operators.</p>
      <hr class="dark right">
    </div>
  </div>
  <figure>
    <img src="/assets/img/about-2@2x.jpg" alt="Sea World Stage - Nickelodeon Event">
    <figcaption>Sea World Stage - Nickelodeon Event</figcaption>
  </figure>
</section>

<section id="personal" class="two-third text-right">
  <div class="text">
    <div>
      <h3>Personal touch</h3>
      <h2>Our aim and point of difference is to ensure that each event is treated with a professional, yet innovative personal touch.</h2>
      <p>With competitive rates, we will work with you to adhere to your operational budgets and guidelines.</p>
      <hr class="dark left">
    </div>
  </div>
  <figure>
    <img src="/assets/img/about-3@2x.jpg" alt="Jenny Moon with her equipment">
    <figcaption>Jenny Moon with her equipment</figcaption>
  </figure>
</section>

{{testimonial-section}}

{{photo-reel name="fireworks"}}
