<section class="in-the-stars">
  <div>
    <h1>Mobile Trailer Stage</h1>
    <p>Looking for a fast, reliable solution for your next event? Contact Moon Mother Productions to hire our mobile trailer stages. Ideal for a variety of events.</p>
    <button class="white-border" onclick={{action "scrollToContact"}}>Call us</button>
    <hr class="white left right">
  </div>
</section>

<section class="plain-text">
  <div>
    <h1>Mobile Trailer Stages – Set Up Anywhere</h1>
    <p>Are you looking for a fast, reliable solution for your upcoming event? Contact Moon Mother Productions to hire our mobile trailer stages. Ideal for a variety of events, ranging from music festivals, local sporting or community events and more. Our mobile trailer stages also come with a highly experienced production crew who will operate our equipment and manage the stage so you can focus on your event patrons.</p>
    <p>Our audio and lighting equipment used with our mobile trailer stages is the highest quality available and is regularly updated to ensure we're using the latest technology. Our team ensure that when you work with Moon Mother Productions, you're receiving only the best experience for your event.</p>
    <h2>Mobile trailer stages &amp; other equipment for your event</h2>
    <p>Whether you're planning an event that needs a rapid set-up and removal or you're organising a tour around the country, you're in good hands with the team at Moon Mother Productions. We have a combined experience of over 60 years in the industry and ensure that we provide a quality service for our clients at all times. We can work closely with you to ensure we're meeting your specific requirements for your event. Some of the event productions services we offer include:</p>
    <p>Sound systems Lighting hire AV hire Festival stage hire Marquees &amp; other equipment</p>
    <ul>
      <li>
        {{#link-to 'sound-system'}}Sound systems{{/link-to}}
      </li>
      <li>
        {{#link-to 'lighting-hire'}}Lighting hire{{/link-to}}
      </li>
      <li>
        {{#link-to 'av-hire'}}AV hire{{/link-to}}
      </li>
      <li>
        {{#link-to 'festival-stage-hire'}}Festival stage hire{{/link-to}}
      </li>
      <li>
        {{#link-to 'event-hire'}}Marquees &amp; other equipment{{/link-to}}
      </li>
    </ul>
  </div>
</section>

<section class="centered-layout dark-grey sans-serif">
  <div>
    <img src="/assets/img/moon-icons/three-moons-in-orbit.svg" width="51.9" height="53.1" alt="icon of 3 moons in orbit">
    <h2>Book your mobile trailer stages with Moon Mother today</h2>
    <p>Moon Mother Productions has been operating under the experienced Jenny Moon since 1991. She and her team cover everything you need for event production, including staging, audio, lighting, special effects and more. We also can help with logistics, planning and risk management to ensure everything has been planned for.</p>
  </div>
</section>
