#services-page {
  #equipment {
    background: white;
    ul {
      li {
        display: flex;
        flex-flow: row wrap;
        > * {
          width: 33.33333%;
          flex: auto 0 0;
          @media (max-width: 700px) {
            width: 100%;
          }
        }
        > div {
          padding: 20px 4vw;
          box-sizing: border-box;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          @media (max-width: 1220px) {
            width: 100%;
            order: 1;
            padding: 100px 4vw;
          }
        }
        > img {
          height: 20vw;
          @media (max-width: 1220px) {
            width: 50vw;
            height: 31.25vw;
            order: 2;
          }
          @media (max-width: 700px) {
            width: 100vw;
            height: 62.5vw;
          }
        }
      }
    }
    h3 {
      font-size: 23px;
      line-height: 140%;
      margin-bottom: 20px;
      color: #424241;
    }
    p {
      max-width: 500px;
      margin: 0 auto;
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 150%;
    }
  }
  #services {
    background: white;
    padding: 50px;
    min-height: 500px;
    @media (max-width: 900px) {
      padding: 50px 4vw;
    }
    > div {
      max-width: 880px;
      display: flex;
      flex-flow: row wrap;
      margin: 0 auto;
      > div {
        width: 50%;
        text-align: center;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        box-sizing: border-box;
        padding: 22px 40px;
        @media (max-width: 900px) {
          padding: 22px 3vw;
        }
        @media (max-width: 600px) {
          width: 100%;
        }
        > div {
          display: flex;
          justify-content: center;
          align-items: flex-end;
          height: 52px;
        }
      }
    }
    h3 {
      font-size: 30px;
      margin: 28px auto;
      max-width: 240px;
      color: #424241;
    }
    h4 {
      font-size: 23px;
      margin: 20px auto 16px;
      line-height: 140%;
      color: #424241;
    }
    p {
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 150%;
    }
  }
}
