<section id="intro" class="in-the-stars">
  <div>
    <img class="moon" src="/assets/img/moon-icons/waning-crescent-white.svg">
    <h2>Services</h2>
    <p>With our comprehensive list of event production services, know you're in capable hands.</p>
    <p>If you need assistance with choosing and planning your event, allow one of our experts to help you.</p>
    <button onclick={{action 'scrollToContact'}} class="white-border">Contact</button>
    <hr class="white left right">
  </div>
</section>

<section class="heading">
  <img class="moon" src="/assets/img/moon-icons/waning-cresent.svg">
  <h2>Technical Production <nobr>&amp; Av Equipment Hire</nobr></h2>
</section>

<section id="equipment">
  <ul>
    <li itemprop="brand" itemscope itemtype="https://schema.org/Product">
      <img src="/assets/img/services-staging-left@2x.jpg" alt="outdoor concert stage and lighting" width="800" height="500" itemprop="image">
      <div>
        <h3 itemprop="name">Staging</h3>
        <p itemprop="description">Give your audience a clear view of the action with our staging solutions for both indoor and outdoor events. Options include modular concert stages, roofed trailer stages for rapid set-up (multiple sizes available), podiums, decks, catwalks and more.</p>
      </div>
      <img src="/assets/img/services-staging-right@2x.jpg" alt="White Night stage with podium" width="800" height="500" itemprop="image">
    </li>
    <li itemprop="brand" itemscope itemtype="https://schema.org/Product">
      <img src="/assets/img/services-audio-left@2x.jpg" alt="ladies singing on stage with audio system" width="800" height="500" itemprop="image">
      <div>
        <h3 itemprop="name">Audio</h3>
        <p itemprop="description">Let Moon Mother Productions supply you with a state-of-the-art audio system specifically tailored for your show. Whether you require a small discreet setup, or a larger concert rig for 2,000 to 20,000 people, our philosophy is simple – clean, clear, even coverage sound.</p>
      </div>
      <img src="/assets/img/services-audio-right@2x.jpg" alt="Ripcurl outpost in ocean" width="800" height="500" itemprop="image">
    </li>
    <li itemprop="brand" itemscope itemtype="https://schema.org/Product">
      <img src="/assets/img/services-lighting-left@2x.jpg" alt="Anzac day memorial with soldier standing guard" width="800" height="500" itemprop="image">
      <div>
        <h3 itemprop="name">Lighting</h3>
        <p itemprop="description">Single spotlights or searchlights, ambient lighting for a function, complete light shows for festivals, concerts and events, Moon Mother Productions will tailor the perfect light show for your next event.</p>
      </div>
      <img src="/assets/img/services-lighting-right@2x.jpg" alt="blue ambient light for indoor dance event" width="800" height="500" itemprop="image">
    </li>
    <li itemprop="brand" itemscope itemtype="https://schema.org/Product">
      <img src="/assets/img/services-av-left@2x.jpg" alt="large outdoor LED wall for cycling event" width="800" height="500" itemprop="image">
      <div>
        <h3 itemprop="name">Av Hire</h3>
        <p itemprop="description">From a single laptop with LCD display or projector and screen to a large-scale indoor or outdoor LED wall, we will ensure that your visual content is given maximum exposure, with our outstanding AV solutions.</p>
      </div>
      <img src="/assets/img/services-av-right@2x.jpg" alt="large outdoor LED wall and stage" width="800" height="500" itemprop="image">
    </li>
    <li itemprop="brand" itemscope itemtype="https://schema.org/Product">
      <img src="/assets/img/services-backline-left@2x.jpg" alt="singer jumping on stage with backline music equipment" width="800" height="500" itemprop="image">
      <div>
        <h3 itemprop="name">Backline</h3>
        <p itemprop="description">Moon Mother Productions can supply and install a full range of professional backline music equipment. Most major brands included: Fender, Mesa Boogie, Ampeg, DW, Gretch, Yamaha and more.</p>
      </div>
      <img src="/assets/img/services-backline-right@2x.jpg" alt="singer on stage with 3 female backline singers behind her" width="800" height="500" itemprop="image">
    </li>
    <li itemprop="brand" itemscope itemtype="https://schema.org/Product">
      <img src="/assets/img/services-marquees-left@2x.jpg" alt="marquee for Ballarat Cycling Australia Road National Championships" width="800" height="500" itemprop="image">
      <div>
        <h3 itemprop="name">Marquees &amp; Other Equipment</h3>
        <p itemprop="description">A majority of outdoor events require additional marquees, generators, toilets, temporary fencing etc. Moon Mother Productions offer a free consultation service and site visit to ensure your requirements are met correctly.</p>
      </div>
      <img src="/assets/img/services-marquees-right@2x.jpg" alt="speaker giving speech to crowd under a white marquees" width="800" height="500" itemprop="image">
    </li>
  </ul>
</section>

<section class="heading">
  <img class="moon" src="/assets/img/moon-icons/waning-gibbous.svg">
  <h2>Event Management <nobr>and Services</nobr></h2>
</section>

<section id="services">
  <div>
    <div>
      <div>
        <img src="/assets/img/service-moon-1.svg" width="23.3" height="23.3">
      </div>
      <h3>Now you've seen our equipment, let us show you what we can do with it</h3>
    </div>
    <div itemprop="brand" itemscope itemtype="https://schema.org/Service">
      <div>
        <img src="/assets/img/service-moon-2.svg" width="99.2" height="23.3">
      </div>
      <h4 itemprop="name">Event Management <nobr>&amp; Planning</nobr></h4>
      <p itemprop="description">Moon Mother Productions has over 60 years experience to successfully plan, manage and deliver your next event. We can assist with the compilation of event plans, logistics, site management, risk assessments, equipment and contractor sourcing and management.</p>
    </div>
    <div itemprop="brand" itemscope itemtype="https://schema.org/Service">
      <div>
        <img src="/assets/img/service-moon-3.svg" width="99.2" height="23.3">
      </div>
      <h4 itemprop="name">Event Theming</h4>
      <p itemprop="description">Make your event unique with a personalised theme and style that creates the atmosphere you are looking for. The Moon Mother team will work with you to source, co-ordinate and schedule the transformation of a venue into the perfect setting.</p>
    </div>
    <div itemprop="brand" itemscope itemtype="https://schema.org/Service">
      <div>
        <img src="/assets/img/service-moon-4.svg" width="102.4" height="35.2">
      </div>
      <h4 itemprop="name">Pope Safety Officers</h4>
      <p itemprop="description">Moon Mother’s fully qualified POPE Safety Officers will work alongside your event’s management and emergency management teams to ensure the safety of all patrons to the event.</p>
    </div>
    <div itemprop="brand" itemscope itemtype="https://schema.org/Service">
      <div>
        <img src="/assets/img/service-moon-5.svg" width="65.2" height="44.3">
      </div>
      <h4 itemprop="name">Venue Sourcing</h4>
      <p itemprop="description">Whether it is established venue or temporary facility, our extensive knowledge of locations can assist in finding a solution that will leave your patrons with a lasting and favourable impression of your event!</p>
    </div>
    <div itemprop="brand" itemscope itemtype="https://schema.org/Service">
      <div>
        <img src="/assets/img/service-moon-6.svg" width="51" height="51.8">
      </div>
      <h4 itemprop="name">Entertainment Scheduling</h4>
      <p itemprop="description">Finding the right act for your event can make all the difference, and there is a lot of choice out there – Whether it is a major music artist, roving entertainment, comedians, magicians or MC.</p>
    </div>
  </div>
</section>

<section class="photoreel services"></section>
