#page-footer {
  #contact {
    z-index: 1;
    position: relative;
    background: white;
    > div {
      padding: 90px 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    h3 {
      font-size: 32px;
      color: #242221;
      margin: 59px auto 28px;
      line-height: 130%;
      @media (max-width: 440px) {
        font-size: 9vw;
        max-width: 60vw;
      }
    }
    h4 {
      font-family: $lato-regular;
      color: #242221;
      font-size: 19px;
      line-height: 190%;
      letter-spacing: 2px;
      margin-bottom: 30px;
      max-width: 450px;
      @media (max-width: 366px) {
        font-size: 6vw;
      }
    }
    button {
      margin: 20px 0;
    }
    img.jenny {
      width: 200px;
      margin: 40px 0;
    }
    h5 {
      color: #242221;
      font-size: 28px;
      letter-spacing: 1px;
      margin-bottom: 16px;
    }
    h5 + p {
      margin-bottom: 50px;
    }
    p {
      letter-spacing: 2px;
      color: #242221;
      font-size: 20px;
      margin-bottom: 10px;
      &#email,
      &#phone {
        margin: 20px 0 40px;
      }
      a {
        text-decoration: none;
        color: #242221;
        &:hover {
          opacity: 0.5;
        }
      }
    }
    .button {
      margin-bottom: 24px;
      width: 200px;
    }
  }
  #social {
    z-index: 1;
    position: relative;
    background-color: $darkest-grey;
    > div {
      padding: 0 10vw;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    img.moon {
      margin-top: 60px;
    }
    img.moon + h2 {
      color: white;
    }
    ul#social-media {
      display: flex;
      margin: 46px 0 40px;
      a {
        margin: 0 5px;
        transition: ease-in-out 200ms all;
        &:hover {
          transform: scale(1.05);
        }
        img {
          padding: 5px;
          width: 35px;
        }
      }
    }
    #instafeed,
    #temporary-instafeed {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      max-width: 1280px;
      &.hide {
        display: none;
      }
      > div {
        width: 16vw;
        height: 16vw;
        padding: 1vw;
        box-sizing: border-box;
        @media (min-width: 1601px) {
          width: 256px;
          height: 256px;
          padding: 16px;
        }
        @media (max-width: 1000px) {
          width: 20vw;
          height: 20vw;
          &:nth-child(10),
          &:nth-child(9) {
            display: none;
          }
        }
        @media (max-width: 800px) {
          width: 26.6666vw;
          height: 26.6666vw;
          &:nth-child(9) {
            display: block;
          }
        }
        a {
          display: block;
          overflow: hidden;
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background: $dark-grey;
          &:hover {
            outline: 1px solid $light-grey;
          }
          img {
            height: 100%;
          }
        }
      }
    }
    p {
      text-align: center;
      color: $light-grey;
      font-size: 13px;
      margin: 32px auto 48px;
      user-select: none;
      line-height: 150%;
      letter-spacing: 1px;
      @media (max-width: 433px) {
        font-size: 3vw;
      }
      a {
        color: $light-grey;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
