<section class="in-the-stars">
  <div>
    <h1>Festival Stage Hire</h1>
    <p>Music concerts, sporting events or community festivals, the team at Moon Mother Productions can do it all. Contact us for indoor and outdoor festival stage hire today.</p>
    <button class="white-border" onclick={{action "scrollToContact"}}>Call us</button>
    <hr class="white left right">
  </div>
</section>

<section class="text-left-photo-right">
  <div>
    <div class="text">
      <h1>Indoor &amp; Outdoor Stage Hire for Your Next Event</h1>
      <p>Whether you're organising a music festival, a community or sporting event or something else, Moon Mother Productions are the team to call for your festival stage hire. We cater to indoor or outdoor events and have a variety of stage options to suit your needs. A technician from our skilled team will be on hand throughout the stage hire to operate our equipment, ensuring you're able to create the experience you want to provide your festival patrons.</p>
      <p>The audio production and lighting equipment used with indoor and outdoor stages is all the latest technology and regularly maintained and upgraded when required. When you hire a stage from Moon Mother Productions you are guaranteed to receive only the best equipment and operators across the country.</p>
    </div>
    <div class="photo">
      <img width="1200" height="902" src="/assets/img/festival-stage-hire/moon-mother-stage-2.jpg" alt="kids watching Mega Mindy on festival stage">
    </div>
  </div>
</section>

<section class="centered medium-grey">
  <div>
    <img src="/assets/img/event-hire/icon-orbit.svg" width="51.9" height="53.1" alt="icon of 3 planets orbiting">
    <h2>Stages for festivals, community events &amp; more</h2>
    <p>Music concerts, local sporting events or community festivals are all part of our repertoire. We can set up indoor or outdoor stage hire depending on the type of event – or both, if required. Our team can work with you to ensure we're meeting all types of specific requirements. Just let us know what you need, and we'll happily do the rest. It's that simple with Moon Mother. Moon Mother Productions has been operating since 1991 under the guiding hand of Jenny Moon. Her team offer a complete range of event production services including:</p>
    <ul>
      <li>
        {{#link-to 'sound-system'}}PA Sound System Hire{{/link-to}}
      </li>
      <li>
        {{#link-to 'av-hire'}}AV Hire{{/link-to}}
      </li>
      <li>
        {{#link-to 'lighting-hire'}}Lighting Hire{{/link-to}}
      </li>
      <li>
        {{#link-to 'mobile-trailer-stage'}}Mobile trailer stages{{/link-to}}
      </li>
      <li>
        {{#link-to 'festival-stage-hire'}}Indoor and outdoor stage hire{{/link-to}}
      </li>
      <li>
        {{#link-to 'event-hire'}}Marquees &amp; other equipment{{/link-to}}
      </li>
    </ul>
    <picture>
      <source media="(max-width: 700px)" srcset="/assets/img/equipment-mobile.svg">
      <img src="/assets/img/equipment.svg" alt="Equipment diagram of stage setup by Moon Mother Productions">
    </picture>
  </div>
</section>

<section class="photoreel services"></section>

<section class="centered-layout dark-grey sans-serif">
  <div>
    <img src="/assets/img/moon-icons/three-moons-in-orbit.svg" width="51.9" height="53.1" alt="icon of 3 moons in orbit">
    <h2>Choose Moon Mother for your event stage hire today</h2>
    <p>Our services cover everything from stage hire to complete event management. Whether you need staging, audio, lighting, special effects or even logistics, planning and risk management, our team's <a href="https://moonmother.com.au" title="Moon Mother Productions">60 years of combined experience</a> will get the job done. If you would like to learn more about our services, please feel free to give us a call on <a href="#" onclick={{action "scrollToContact"}}>calling</a> or <a href="#" onclick={{action "scrollToContact"}}>emailing us</a> and we'll get back to you as soon as possible with the answers to your questions. We look forward to working with you.</p>
  </div>
</section>
