<section class="in-the-stars">
  <div>
    <h1>Lighting Hire</h1>
    <p>Create a spectacular light show with Moon Mother's comprehensive event and stage lighting hire.</p>
    <button class="white-border" onclick={{action "scrollToContact"}}>Call us</button>
    <hr class="white left right">
  </div>
</section>

<section class="plain-text">
  <div>
    <h1>Create the Right Atmosphere with Our Event Lighting Hire in Melbourne</h1>
    <p>From a full-scale theatre production to more intimate events, light up your night with our lighting hire service, available in Melbourne and around Australia.</p>
    <p>Offering single spotlights or searchlights, ambient lighting for a function, complete light shows for festivals, concerts and events, you can rest assured knowing that you'll find the best event and stage lighting equipment available that can suit your needs and Moon Mother Productions will tailor the perfect light show for your next event.</p>
    <h2>Event Lighting Hire that Industry Professionals Rely On</h2>
    <p><a href="https://moonmother.com.au" title="Moon Mother">Established in 1991</a>, Moon Mother Productions has since become one of the leading event production companies in Melbourne. With a focus on audio and visual aspects of productions, as well as staging and backline installation, you'll be in capable hands with Moon Mother's dedicated and passionate team.</p>
    <p>As well as offering a comprehensive selection of event and stage lighting hire, we also offer the following services:</p>
    <ul>
      <li>
        <p>Stage Hire: mobile and festival stage options available, with our stages you'll give your audience the best views of the action.</p>
        {{#link-to 'festival-stage-hire'}}Stage Hire{{/link-to}}
      </li>
      <li>
        <p>AV Hire: offering everything from smaller scale displays to outdoor LED walls, tie your production together with our audio visual hire.</p>
        {{#link-to 'av-hire'}}AV Hire{{/link-to}}
      </li>
      <li>
        <p>Truss Hire: don't restrict your lighting options. With truss hire, you have more options to create a spectacular light show.</p>
        {{#link-to 'truss-hire'}}Truss Hire{{/link-to}}
      </li>
      <li>
        <p>Marquees and Other Equipment: offering a wide range of marquees available for any size outdoor event, as well as generators, toilets, temporary fencing and more.</p>
        {{#link-to 'event-hire'}}Marquees and Other Equipment{{/link-to}}
      </li>
    </ul>
    <p>Our highly qualified team also ensure that all equipment is well maintained and upgraded to the latest technology. We're here to help make your next event the most exciting on the calendar.</p>
  </div>
</section>

<section class="centre-all dark-background">
  <div>
    {{moon-icon name="three-moons"}}
    <h2>Like to know more about lighting hire?</h2>
    <p>Do you have any questions or would like some more information about our Melbourne lighting hire? We're here to help, so give us a call today. We can answer any questions or concerns that you may have, while helping you <nobr>plan your dream event.</nobr></p>
  </div>
</section>
