<section class="in-the-stars">
  <div>
    <h1>Lighting Hire</h1>
    <p>Create a spectacular light show with Moon Mother's comprehensive event and stage lighting hire.</p>
    <button class="white-border" onclick={{action "scrollToContact"}}>Call us</button>
    <hr class="white left right">
  </div>
</section>

<section class="left-right white-background">
  <div>
    <div class="left text">
      <h2>Create the Right Atmosphere with Our Event Lighting Hire in Melbourne</h2>
      <p>From a full-scale theatre production to more intimate events, light up your night with our lighting hire service, available in Melbourne and around Australia.</p>
      <p>Offering single spotlights or searchlights, ambient lighting for a function, complete light shows for festivals, concerts and events, you can rest assured knowing that you'll find the best event and stage lighting equipment available that can suit your needs and Moon Mother Productions will tailor the perfect light show for your next event.</p>
    </div>
    <div class="right photo four">
      <div>
        <img width="200" height="200" src="/assets/img/lighting-hire-1.jpg" alt="cyclist competition stage">
        <img width="200" height="200" src="/assets/img/lighting-hire-2.jpg" alt="girls in red dresses singing on stage">
        <img width="200" height="200" src="/assets/img/lighting-hire-3.jpg" alt="singer jumping on stage">
        <img width="200" height="200" src="/assets/img/lighting-hire-4.jpg" alt="kids watching a show on stage with colourful lights">
      </div>
    </div>
  </div>
</section>

<section class="centre-all white-background sans-serif medium-font">
  <div>
    {{moon-icon name="new-moon"}}
    <h2>Event Lighting Hire that Industry Professionals Rely On</h2>
  </div>
</section>

<section class="left-right white-background">
  <div>
    <div class="left text">
      <p>Established in 1991, Moon Mother Productions has since become one of the leading event production companies in Melbourne. With a focus on audio and visual aspects of productions, as well as staging and backline installation, you'll be in capable hands with Moon Mother's dedicated and passionate team.</p>
      <p>As well as offering a comprehensive selection of event and stage lighting hire, we also offer the following services:</p>
      <h3>Stage Hire</h3>
      <p>Mobile and festival stage options available, with our stages you'll give your audience the best views of the action.</p>
      <h3>AV Hire</h3>
      <p>Offering everything from smaller scale displays to outdoor LED walls, tie your production together with our audio visual hire.</p>
    </div>
    <div class="right text">
      <h3>Truss Hire</h3>
      <p>Don't restrict your lighting options. With truss hire, you have more options to create a spectacular light show.</p>
      <h3>Marquees and Other Equipment</h3>
      <p>Offering a wide range of marquees available for any size outdoor event, as well as generators, toilets, temporary fencing and more.</p>
      <p>Our highly qualified team also ensure that all equipment is well maintained and upgraded to the latest technology. We're here to help make your next event the most exciting on the calendar.</p>
    </div>
  </div>
</section>

{{photo-reel name="dancefloor"}}

<section class="centre-all dark-background">
  <div>
    {{moon-icon name="three-moons"}}
    <h2>Like to know more about lighting hire?</h2>
    <p>Do you have any questions or would like some more information about our Melbourne lighting hire? We're here to help, so give us a call today. We can answer any questions or concerns that you may have, while helping you <nobr>plan your dream event.</nobr></p>
  </div>
</section>
