<section id="intro" class="in-the-stars">
  <div>
    <img class="moon" src="/assets/img/moon-icons/waning-crescent-white.svg">
    <h2>Who we are</h2>
    <div itemprop="description">
      <p>With an experienced, passionate crew and over 60 years experience, Moon Mother offer production services for events throughout Australia from local community gatherings to major world class events.</p>
      <p>We pride ourselves in delivering beautiful audio &amp; visual experiences backed by top-of-the-range technology and expert management.</p>
    </div>
    {{#link-to 'about' class='button white-border' }}more about us{{/link-to}}
  </div>
</section>

{{lightbox-section}}

<section id="services-and-equipment">
  <div>
    <img class="moon" src="/assets/img/moon-icons/waxing-gibbous-white.svg">
    <h2>Services &amp; Equipment</h2>
    <h3>Technical Production &amp; <nobr>Av Equipment Hire</nobr></h3>
    <picture>
      <source media="(max-width: 700px)" srcset="/assets/img/equipment-mobile.svg">
      <img src="/assets/img/equipment.svg" alt="Equipment diagram of stage setup by Moon Mother Productions">
    </picture>
    <h3>Like a quote or help on finding the best fit <nobr>for your event?</nobr></h3>
    <button class="white-background" onclick={{action 'scrollToContact'}}>Contact us</button>
  </div>
</section>

{{background-video-section}}

{{testimonial-section}}

<section class="photoreel homepage"></section>
