<div id="galaxy">
  <img src="/assets/img/galaxy@2x.png">
</div>
<div id="constelation">
  <img src="/assets/img/galaxy/logo.svg" alt="logo Moonmother" id="logo">
  <img src="/assets/img/galaxy/logo-full.svg" alt="logo Moonmother" id="logo-full">
  <div id="home" class="planet">
    {{#link-to 'index'}}
      <img src="/assets/img/galaxy/home.svg" alt="home">
      <span></span>
    {{/link-to}}
  </div>
  <div id="about" class="planet">
    {{#link-to 'about'}}
      <img src="/assets/img/galaxy/about.svg" alt="about">
      <span></span>
    {{/link-to}}
  </div>
  <div id="services" class="planet">
    {{#link-to 'services'}}
      <img src="/assets/img/galaxy/services.svg" alt="services">
      <span></span>
    {{/link-to}}
  </div>
</div>
<h1>Going above and beyond to bring your event to life.</h1>
