<img src="/assets/img/logo.svg" alt="logo Moonmother">

<div class="circle"></div>

{{svg-logo}}

<ul>
  <li>
    {{#link-to 'index'}}Home{{/link-to}}
  </li>
  <li>
    {{#link-to 'about'}}About{{/link-to}}
  </li>
  <li>
    {{#link-to 'services'}}Services{{/link-to}}
  </li>
</ul>
