<section id="intro" class="in-the-stars">
  <div>
    <img class="moon" src="/assets/img/moon-icons/waning-crescent-white.svg">
    <h2>Some eye catcher here ? :)</h2>
    <p>Something here?</p>
    <button class="white-border">Contact</button>
    <hr class="white left right">
  </div>
</section>

<section id="title">
  <div>
    <img class="moon" src="/assets/img/moon-icons/waning-cresent.svg">
    <h2>Some title here ? :)</h2>
  </div>
</section>

<section id="content">
  <div>
    <h1>Offering More In Event Hire Services In Melbourne</h1>
    <p>Planning an event is a complicated process. There's many moving parts to keep track of and tick off, from finding the right venue to sourcing entertainment and hiring the chairs and furniture. Events run on tight deadlines, and it can only take one missing piece for things to get off-track.</p>
    <p><a href="https://moonmother.com.au" title="Moon Mother Productions">Moon Mother Productions</a> is one of Melbourne's leading event planning companies, and can help you make sure your next event is pulled off without a hitch. Our dynamic and passionate team have over 60 years combined experience in event production, management and planning, with a skillset that covers everything from stage and marquee hire to sourcing the best local Melbourne talent.</p>
    <p>Whether it's a week-long music festival or a community fun-run, Moon Mother Productions has the experience and skills you need to make sure your next event runs on time, on budget, and is a truly exceptional experience.</p>
    <h2>For a spectacular event, hire the very best equipment</h2>
    <p>Whether you're looking for complete event planning and management, or need assistance to make your event unique with a personalised theme and style, the Moon Mother team will work with you to source the best equipment, co-ordinate and schedule the transformation of a venue into the perfect setting.</p>
    <p>We take great pride in the standard of the event equipment we have for hire, and have extensive connections in the Melbourne event industry that ensure we can source anything and everything you need, from additional marquees and generators to mobile stages and trusses. We work with you, and your budget, to make sure your event stands out from the pack.</p>
    <h2>Proudly providing the best in event planning and equipment for hire</h2>
    <p>Since 1991, Jenny Moon and the Moon Mother team have worked tirelessly to build a reputation as one of the most dependable, creative and adaptable event planning companies in Melbourne. From full event planning and management to providing the very best equipment on the market for hire, we will approach every challenge with innovation and professionalism.</p>
    <p>Moon Mother Productions offer a free consultation service and site visit to ensure your requirements are met correctly. For any enquiries, or to find out about our other services, don't hesitate to <a href="#">get in touch by phone</a> or <a href="#">via email</a>.</p>
  </div>
</section>

{{seo-pages-nav}}