<section id="intro" class="in-the-stars">
  <div>
    <h1>Event Hire</h1>
    <p>Moon Mother is Melbourne's professional event hire company based in Melbourne. From the latest audio production equipment to marquees and fencing.</p>
    <button class="white-border" onclick={{action "scrollToContact"}}>Call us</button>
    <hr class="white left right">
  </div>
</section>

<section class="left-right white-background">
  <div>
    <div class="left text">
      <h2>Offering More In Event Hire Services In Melbourne</h2>
      <p>Planning an event is a complicated process. There's many moving parts to keep track of and tick off, from finding the right venue to sourcing entertainment and hiring the chairs and furniture. Events run on tight deadlines, and it can only take one missing piece for things to get off-track.</p>
      <p><a href="https://moonmother.com.au" title="Moon Mother Productions">Moon Mother Productions</a> is one of Melbourne's leading event planning companies, and can help you make sure your next event is pulled off without a hitch. Our dynamic and passionate team have over 60 years combined experience in event production, management and planning, with a skillset that covers everything from stage and marquee hire to sourcing the best local Melbourne talent.</p>
      <p>Whether it's a week-long music festival or a community fun-run, Moon Mother Productions has the experience and skills you need to make sure your next event runs on time, on budget, and is a truly exceptional experience.</p>
    </div>
    <div class="right photo four">
      <div>
        <img width="200" height="200" src="/assets/img/event-hire-1.jpg" alt="cyclist competition stage">
        <img width="200" height="200" src="/assets/img/event-hire-2.jpg" alt="girls in red dresses singing on stage">
        <img width="200" height="200" src="/assets/img/event-hire-3.jpg" alt="singer jumping on stage">
        <img width="200" height="200" src="/assets/img/event-hire-4.jpg" alt="kids watching a show on stage with colourful lights">
      </div>
    </div>
  </div>
</section>

{{photo-reel name="fireworks"}}

<section class="left-right white-background">
  <div>
    <div class="left text">
      {{moon-icon name="new-moon"}}
      <h2>For a spectacular event, hire the very best equipment</h2>
    </div>
    <div class="right text">
      <p>Whether you're looking for complete event planning and management, or need assistance to make your event unique with a personalised theme and style, the Moon Mother team will work with you to source the best equipment, co-ordinate and schedule the transformation of a venue into the perfect setting.</p>
      <p>We take great pride in the standard of the event equipment we have for hire, and have extensive connections in the Melbourne event industry that ensure we can source anything and everything you need, from additional marquees and generators to mobile stages and trusses. We work with you, and your budget, to make sure your event stands out from the pack.</p>
    </div>
  </div>
</section>

<section class="centre-all dark-background">
  <div>
    {{moon-icon name="three-moons"}}
    <h2>Proudly providing the best in event planning and equipment for hire</h2>
    <p>Since 1991, Jenny Moon and the Moon Mother team have worked tirelessly to build a reputation as one of the most dependable, creative and adaptable event planning companies in Melbourne. From full event planning and management to providing the very best equipment on the market for hire, we will approach every challenge with innovation and professionalism.</p>
  </div>
</section>
