section#testimonials {
  position: relative;
  background-color: $light-grey;
  > div {
    padding: 85px 0 100px;
    width: 64vw;
    max-width: 600px;
    box-sizing: border-box;
    margin: 0 auto;
    @media (max-width: 600px) {
      width: 80vw;
      padding: 65px 0 140px;
    }
  }
  img.moon + h2 {
    margin-bottom: 85px;
    @media (max-width: 600px) {
      margin-bottom: 65px;
    }
  }
  nav {
    .arrow {
      position: absolute;
      top: 0;
      width: 15vw;
      height: 100%;
      max-width: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background 200ms ease;
      background: rgba(black, 0);
      cursor: pointer;
      user-select: none;
      @media (max-width: 600px) {
        top: auto;
        bottom: 0;
        width: 50vw;
        height: 100px;
        max-width: none;
        border-top: 1px solid #ccc;
      }
      &.prev {
        left: 0;
        @media (max-width: 600px) {
          border-right: 1px solid #ccc;
        }
        img {
          transform: translateX(1vw);
        }
      }
      &.next {
        right: 0;
        img {
          transform: translateX(-1vw);
        }
      }
      &:hover {
        background: rgba(black, 0.03);
        img {
          transform: translateX(0);
        }
      }
      img {
        width: 3vw;
        transition: transform 200ms ease;
        min-width: 22px;
        max-width: 34px;
        height: auto;
      }
    }
  }
  .quotes {
    position: relative;
    width: 100%;
    blockquote {
      text-align: center;
      margin: 0;
      &:not(.active) {
        display: none;
      }
      p.quote {
        color: $dark-background;
        font-family: $garamond-regular;
        font-size: 32px;
        margin-bottom: 60px;
        line-height: 120%;
        cursor: default;
        @media (max-width: 400px) {
          font-size: 8.8vw;
          margin-bottom: 12vw;
        }
      }
      footer {
        cite,
        p {
          color: $dark-background;
          letter-spacing: 1px;
          line-height: 150%;
        }
        cite {
          display: block;
          text-transform: uppercase;
          font-family: $lato-regular;
          font-style: normal;
          font-size: 18px;
          margin-bottom: 10px;
          @media (max-width: 333px) {
            font-size: 5.8vw;
          }
        }
        p {
          font-size: 16px;
          @media (max-width: 400px) {
            font-size: 4.8vw;
          }
        }
      }
    }
  }
}
