#home-page {
  #services-and-equipment {
    background-color: $dark-grey;
    > div {
      padding: 80px 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      h2 {
        color: white;
        margin-bottom: 60px;
      }
      h3 {
        text-align: center;
        font-size: 24px;
        margin-bottom: 40px;
        line-height: 130%;
        color: white;
        margin-bottom: 60px;
        @media (max-width: 342px) {
          font-size: 7vw;
        }
        padding: 0 20px;
      }
      img.wireframe {
        width: 100%;
        max-width: 1100px;
        margin-bottom: 40px;
      }
    }
  }
  #background-video {
    position: relative;
    overflow: hidden;
    height: 60vw;
    min-height: 500px;
    max-height: 800px;
    #bg-video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 102%;
      min-width: 102%;

      // TODO: add background image in case video does not work

    }
    > div {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
      z-index: 1;
      padding: 10vw;
      box-sizing: border-box;
      @media (min-width: 1301px) {
        padding: 130px;
      }
      h2 {
        max-width: 500px;
        color: white;
        text-align: center;
        line-height: 130%;
        font-size: 36px;
        @media (max-width: 800px) {
          font-size: 4.5vw;
        }
        @media (max-width: 577px) {
          font-size: 26px;
        }
      }
    }
  }
}
