#home-page {
  section {
    > div {
      padding: 0 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      img.moon {
        width: 90px;
        margin-bottom: 20px;
        margin-top: 100px;
      }
      h1 {
        text-transform: uppercase;
        font-family: $lato-regular;
        font-size: 18px;
        letter-spacing: 1px;
        margin-bottom: 40px;
        color: $galaxy-brown;
      }
      h3 {
        text-align: center;
        font-size: 24px;
        margin-bottom: 40px;
        line-height: 120%;
        @media (max-width: 450px) {
          font-size: 5.2vw;
        }
        @media (max-width: 400px) {
          font-size: 5.4vw;
        }
      }
      .oversize-text {
        font-family: $garamond-regular;
        text-align: center;
        font-size: 36px;
        margin-bottom: 80px;
        line-height: 120%;
        @media (max-width: 600px) {
          font-size: 6vw;
        }
        @media (max-width: 450px) {
          font-size: 8vw;
        }
      }
      .button {
        text-align: center;
        color: $light-grey;
        text-transform: uppercase;
        text-decoration: none;
        font-family: $lato-regular;
        font-size: 13px;
        border: 1.5px solid $light-grey;
        padding: 15px 0;
        margin-bottom: 90px;
        width: 240px;
      }
    }
  }
  #who-we-are {
    background-color: $galaxy-black;
    div {
      h1 {
        color: $light-grey;
      }
      h3 {
        color: $light-grey;
        max-width: 390px;
      }
    }
  }
  #what-we-do {
    background-color: $light-grey;
    div {
      h1 {
        color: $dark-grey;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        max-width: 1000px;
        margin-bottom: 100px;
        @media (max-width: 1000px) {
          margin-bottom: 0;
        }
        @media (max-width: 500px) {
          flex-wrap: nowrap;
          flex-direction: column;
        }
        li {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-end;
          width: 50%;
          height: 30vw;
          position: relative;
          overflow: hidden;
          max-height: 310px;
          @media (max-width: 500px) {
            width: 100%;
            height: 60vw;
          }
          h3 {
            position: relative;
            z-index: 1;
            color: $light-grey;
            margin-bottom: 5px;
            @media (max-width: 700px) {
              font-size: 3.8vw;
            }
            @media (max-width: 500px) {
              font-size: 24px;
            }
          }
          h4 {
            position: relative;
            z-index: 1;
            color: $light-grey;
            text-transform: uppercase;
            text-decoration: none;
            font-family: $lato-regular;
            letter-spacing: 1px;
            font-size: 13px;
            margin-bottom: 25px;
            @media (max-width: 700px) {
              font-size: 2vw;
              margin-bottom: 10px;
            }
            @media (max-width: 500px) {
              font-size: 13px;
            }
          }
          img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 102%;
          }
          &:nth-child(3) {
            h3 {
              margin-bottom: 35px;
              @media (max-width: 700px) {
                margin-bottom: 20px;
              }
            }
          }
        }
      }
    }
  }
  #services-and-equipment {
    background-color: $galaxy-brown;
    div {
      h1 {
        color: white;
      }
      h3 {
        color: white;
        @media (max-width: 400px) {
          font-size: 5.2vw;
        }
      }
      img.full-width {
        width: 100%;
        max-width: 1000px;
        margin-bottom: 40px;
      }
      .button {
        color: $galaxy-black;
        border-color: $light-grey;
        background-color: $light-grey;
      }
    }
  }
  #background-video {
    position: relative;
    overflow: hidden;
    iframe {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 102%;
      min-width: 102%;
      user-select: none;
    }
    div {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 60vw;
      min-height: 400px;
      z-index: 1;
      h2 {
        max-width: 500px;
        color: white;
      }
    }
  }
  #testimonials {
    background-color: $light-grey;
    div {
      h1 {}
      div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        margin-bottom: 200px;
        img.navigate-arrow {
          height: 70px;
          cursor: pointer;
          @media (max-width: 767px) {
            height: 8vw;
          }
        }
        ul {
          blockquote {
            position: relative;
            text-align: center;
            @media (max-width: 620px) {
              margin: 0 10px;
            }
            .oversize-text {
              max-width: 500px;
              margin-bottom: 0;
              color: $galaxy-black;
            }
            footer {
              position: absolute;
              bottom: -100px;
              left: 50%;
              transform: translateX(-50%);
              width: 100%;
              cite {
                display: block;
                text-transform: uppercase;
                font-family: $lato-regular;
                font-style: normal;
                font-size: 18px;
                letter-spacing: 1px;
                margin-bottom: 10px;
                color: $galaxy-black;
              }
              p {}
            }
          }
        }
      }
    }
  }
  section#photoreel {
    overflow: hidden;
    img {
      width: 100vw;
      @media (max-width: 600px) {
        width: 166.66vw;
      }
    }
  }
  #contact-us {
    div {
      h1 {
        margin-bottom: 80px;
      }
      h3.oversize-text {
        margin-bottom: 40px;
        color: $galaxy-black;
      }
      h4 {
        text-align: center;
        text-transform: uppercase;
        font-family: $lato-regular;
        font-size: 18px;
        letter-spacing: 2px;
        line-height: 180%;
        margin-bottom: 40px;
        color: $galaxy-black;
      }
      a {
        text-transform: uppercase;
        text-decoration: none;
        font-family: $lato-regular;
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 180%;
        margin-bottom: 80px;
        color: white;
        background: $galaxy-black;
        padding: 15px 30px;
      }
      ul {
        display: flex;
        width: 100vw;
        max-width: 1000px;
        margin-bottom: 100px;
        @media (max-width: 550px) {
          flex-direction: column;
        }
        @media (max-width: 450px) {
          margin-bottom: 0;
        }
        li {
          flex-direction: column;
          align-items: center;
          margin: 0 auto;
          @media (max-width: 450px) {
            margin-bottom: 40px;
          }
          img {
            width: 200px;
            margin: 0 auto 40px;
          }
          h3 {
            color: $galaxy-black;
            margin-bottom: 10px;
          }
          h4 {
            text-transform: capitalize;
          }
          a {
            text-align: center;
            background: none;
            color: $galaxy-black;
            text-transform: none;
            padding: 0 0 0 5px;
          }
          p {
            color: $galaxy-black;
            text-align: center;
          }
        }
      }
    }
  }
}
