<section id="intro" class="in-the-stars">
  <div>
    <img class="moon" src="/assets/img/moon-icons/waning-crescent-white.svg">
    <h2>Who we are</h2>
    <p>With an experienced, passionate crew and over 60 years experience, Moon Mother offer production services for events throughout Australia from local community gatherings to major world class events.</p>
    <p>We pride ourselves in delivering beautiful audio &amp; visual experiences backed by top-of-the-range technology and expert management.</p>
    {{#link-to 'about' class='button white-border' }}more about us{{/link-to}}
  </div>
</section>

<section id="what-we-do">
  <div>
    <img class="moon" src="/assets/img/moon-icons/moon2.svg">
    <h1>What we do</h1>
    <ul>
      <li>
        <h3>Music Festivals</h3>
        <h4>Concerts &amp; Events</h4>
        <img src="/assets/img/musicfestivals@2x.jpg" alt="moon mother productions music festival">
      </li>
      <li>
        <h3>Community &amp; Local</h3>
        <h4>Government Events &amp; Festivals</h4>
        <img src="/assets/img/communitylocal@2x.jpg" alt="moon mother productions local community government festivals">
      </li>
      <li>
        <h3>Major Sporting Events</h3>
        <img src="/assets/img/major-sporting@2x.jpg" alt="moon mother productions major sporting events">
      </li>
      <li>
        <h3>Themed Events</h3>
        <h4>&amp; product / venue launches</h4>
        <img src="/assets/img/themed-events@2x.jpg" alt="moon mother productions product venue launches">
      </li>
    </ul>
  </div>
</section>

<section id="services-and-equipment">
  <div>
    <img class="moon" src="/assets/img/moon-icons/moon3.svg">
    <h1>Services &amp; Equipment</h1>
    <h3>Technical Production &amp; Av Equipment Hire</h3>
    <img class="full-width" src="/assets/img/equipment@2x.png" alt="moon mother productions equipment">
    <h3>Like a quote or help on finding the best fit for your event?</h3>
    <a class="button" href="/#contact-us">contact us</a>
  </div>
</section>

<section id="background-video">
  <div>
    <h2 class="oversize-text">We don’t just love our tech. We use it expertly so your crowds leave with great memories of your event.</h2>
  </div>
  {{!-- <iframe id="bg-video" frameborder="0" height="100%" width="100%" src="https://www.youtube.com/embed/VDS-CQ8L7Tg?modestbranding=1&amp;autoplay=1&amp;controls=0&amp;loop=1&amp;playlist=VDS-CQ8L7Tg&amp;playsinline=1&amp;showinfo=0&amp;hd=1&amp;disablekb=1" allowfullscreen></iframe> --}}
</section>

{{testimonial-section}}

<section class="photoreel">
  <img src="/assets/img/photoreel@2x.jpg" alt="moon mother photo reel">
</section>
