<h1>Home page</h1>

<h2>Video</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/VDS-CQ8L7Tg" frameborder="0" allowfullscreen></iframe>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


<section id="testimonials">
  <div>
    <h1>Testimonials</h1>
    <nav>
      <button {{action 'nextQuote'}}>Next</button>
      <button {{action 'prevQuote'}}>Prev</button>
    </nav>
    <ul>
      <li>
        <blockquote>
          <p>A person's name is not the title of a work — even if people call that person a piece of work</p>
          <footer>
            <cite>Andy Higgings</cite>
            <p>Former International Events Manager, Rip Curl</p>
          </footer>
        </blockquote>
      </li>
      <li>
        <blockquote>
          <p>A person's name is not the title of a work — even if people call that person a piece of work</p>
          <footer>
            <cite>Andy Higgings</cite>
            <p>Former International Events Manager, Rip Curl</p>
          </footer>
        </blockquote>
      </li>
      <li>
        <blockquote>
          <p>A person's name is not the title of a work — even if people call that person a piece of work</p>
          <footer>
            <cite>Andy Higgings</cite>
            <p>Former International Events Manager, Rip Curl</p>
          </footer>
        </blockquote>
      </li>
    </ul>
  </div>
</section>
