<section class="in-the-stars">
  <div>
    <h1>AV Hire</h1>
    <p>Moon Mother helps to create stunning visual content for your event or production with our trusted audio visual hire service.</p>
    <button class="white-border" onclick={{action "scrollToContact"}}>Call us</button>
    <hr class="white left right">
  </div>
</section>

<section class="left-right white-background">
  <div>
    <div class="left text">
      <h2>Melbourne's Leading Name in Audio Visual Hire</h2>
      <p>Since 1991, Moon Mother has provided audio visual hire for community events, large scale productions, and some of the biggest festivals and world-class events on the Melbourne, and Australian calendar.</p>
      <p>We supply an extensive range of AV hire and equipment – from a single laptop with LCD display or a projector and screen to a large-scale indoor or outdoor LED wall. Whether you require a small-scale production or a show-stopping display, our highly-qualified team will ensure that your visual content is given maximum exposure with our outstanding AV solutions.</p>
      <p>Contact our team today and discover why our audio hire service is the preferred choice in Melbourne.</p>
    </div>
    <div class="right photo two">
      <img width="2000" height="1000" src="/assets/img/av-hire-1.jpg" alt="audio installation at a stage with cyclist holding microphone">
      <img width="2000" height="1000" src="/assets/img/av-hire-2.jpg" alt="large mobile LCD display along side road with cyclist riding by">
    </div>
  </div>
</section>

<section class="centre-all white-background sans-serif medium-font">
  <div>
    {{moon-icon name="new-moon"}}
    <h2>About Our Services:<br> From AV Hire to Truss Hire And More</h2>
  </div>
</section>

<section class="left-right white-background">
  <div>
    <div class="left text">
      <p>We use only the latest and the best audio visual production equipment available, in order to give your event the impact you're looking for. Our dedicated production crew ensure that each piece of equipment in our arsenal is well maintained and upgraded to the latest technology, and when you choose technical equipment from Moon Mother, one of our team will always accompany and operate it. This way, you can rest assured knowing that you're receiving the best possible equipment and trained operators.</p>
    </div>
    <div class="right text">
      <p>As well as offering AV hire in Melbourne and around Australia, we also offer the following services so you can make the most out of your next event:</p>
      <ul>
        <li>
          {{#link-to 'truss-hire'}}Truss Hire{{/link-to}}
        </li>
        <li>
          {{#link-to 'lighting-hire'}}Lighting Hire{{/link-to}}
        </li>
        <li>
          {{#link-to 'event-hire'}}Event Marquees, Props and Equipment{{/link-to}}
        </li>
        <li>
          {{#link-to 'mobile-trailer-stage'}}Mobile Stage Hire{{/link-to}}
        </li>
        <li>
          {{#link-to 'festival-stage-hire'}}Festival Stage Hire{{/link-to}}
        </li>
        <li>
          {{#link-to 'sound-system'}}PA Sound System Hire{{/link-to}}
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="centre-all dark-background">
  <div>
    {{moon-icon name="three-moons"}}
    <h2>The Reputable Audio Hire Service the Industry Trusts</h2>
    <p>When you choose Moon Mother for your audio visual hire needs, you're choosing a company that industry professionals rely on. We're here to deliver superb audio and visual experiences for your guests of any scale.</p>
  </div>
</section>
