<section class="in-the-stars">
  <div>
    <h1>Truss Hire</h1>
    <p>Create an extraordinary light show for your upcoming event with stage lighting truss hire from Moon Mother</p>
    <button class="white-border" onclick={{action "scrollToContact"}}>Contact</button>
    <hr class="white left right">
  </div>
</section>

<section class="plain-text">
  <div>
    <h1>For a Spectacular Light Show, Choose Melbourne's Preferred Truss Hire</h1>
    <p>Breathe some fresh air into your next event or production and create an atmosphere that your guests have not yet experienced.</p>
    <p>When designing a light show, you shouldn't feel restricted by where you can hang or sit your lighting fixtures. Creating a spectacular light show is often what sets stage productions apart, which is why we provide stage lighting and truss hire throughout Melbourne and Australia. Lighting truss can be supported from the ground, hung or flown and gives your lighting technicians the freedom to design stage lighting using an infinite number of styles, designs and patterns.</p>
    <h2>Providing stage lighting truss hire around Australia and so much more</h2>
    <p>At Moon Mother, we pride ourselves on going above and beyond in order to bring events to life across Australia. Operating since 1991, with over 60 years' combined experience, we boast an experienced and passionate crew who live and breathe event production. Having supplied services for community gatherings to some of the biggest events on the national calendar, the team at Moon Mother have unrivalled expertise and industry knowledge to ensure your upcoming production, festival or event will run smoothly.</p>
    <p>As well as offering lighting truss hire in Melbourne and around Australia, we also offer the following services:</p>
    <ul>
      <li>
        {{#link-to 'av-hire'}}AV Hire{{/link-to}}
      </li>
      <li>
        {{#link-to 'sound-system'}}PA Sound System Hire{{/link-to}}
      </li>
      <li>
        {{#link-to 'lighting-hire'}}Lighting Hire{{/link-to}}
      </li>
      <li>
        {{#link-to 'event-hire'}}Event Marquees, Props and Equipment{{/link-to}}
      </li>
      <li>
        {{#link-to 'mobile-trailer-stage'}}Mobile Stage Hire{{/link-to}}
      </li>
    </ul>
  </div>
</section>

<section class="centered dark-grey sans-serif">
  <div>
    <img src="/assets/img/event-hire/three-moons-in-orbit.svg" width="51.9" height="53.1" alt="icon of 3 moons in orbit">
    <h2>Experience the Moon Mother difference</h2>
    <p>When you choose Moon Mother to help create a beautiful audio and visual experience, we guarantee that you'll enjoy competitive rates paired with professional, personalised and innovative service. Our equipment will always be accompanied and operated by one of our highly qualified staff which ensures a quality experience, every time.</p>
  </div>
</section>
