section.photo-reel {
  overflow: hidden;
  width: 100vw;
  height: 20vw;
  background-position: 50% 50%;
  background-repeat: repeat;
  background-size: cover;
  background: url('/assets/img/photoreel@2x.jpg') repeat 50% 50% / cover;
  &.fireworks {
    background-image: url('/assets/img/photo-reels/fireworks/photoreel@2x.jpg');
  }
  &.dancefloor {
    background-image: url('/assets/img/photo-reels/fireworks/photoreel@2x.jpg');
  }
  &.greenstage {
    background-image: url('/assets/img/photo-reels/greenstage/photoreel.jpg');
  }
  @media (min-width: 1600px) {
    height: 320px;
    background-size: auto 100%;
  }
  @media (max-width: 1200px) {
    &.fireworks {
      background-image: url('/assets/img/photo-reels/fireworks/photoreel.jpg');
    }
    &.dancefloor {
      background-image: url('/assets/img/photo-reels/dancefloor/photoreel.jpg');
    }
  }
  @media (max-width: 600px) {
    height: 33.333vw;
    &.fireworks {
      background-image: url('/assets/img/photo-reels/fireworks/photoreel-mobile@2x.jpg');
    }
    &.dancefloor {
      background-image: url('/assets/img/photo-reels/dancefloor/photoreel-mobile@2x.jpg');
    }
  }
}
