<section class="in-the-stars">
  <div>
    <h1>Sound Systems</h1>
    <p>Hosting a music concert, local sporting event or community festival? Moon Mother Productions offer quality PA sound systems for hire across Melbourne.</p>
    <button class="white-border" onclick={{action "scrollToContact"}}>Call us</button>
    <hr class="white left right">
  </div>
</section>

<section class="left-right white-background">
  <div>
    <div class="left text">
      <h2>Sound System Hire for Your Next Melbourne Event</h2>
      <p>One of the most important parts of any event is the audio system and quality of sound. Whether it's a music festival, a Theatre show or simply a local sporting event, the audio must be even and clean and heard clearly throughout your event site or venue space. The sound technicians at Moon Mother Productions offer expert PA hire for your events in Melbourne and other locations across the country to ensure your event goes off without a hitch.</p>
    </div>
    <div class="right photo one">
      <img width="1200" height="803" src="/assets/img/sound-system-1.jpg" alt="cyclist competition stage">
    </div>
  </div>
</section>

<section class="left-right white-background">
  <div>
    <div class="left photo one">
      <img width="1200" height="803" src="/assets/img/sound-system-2.jpg" alt="cyclist competition stage">
    </div>
    <div class="right text">
      <p>Our PA systems utilise all of the latest technology, all which is regularly maintained and updated to ensure you and your patrons are receiving the best possible experience. Our team will operate the equipment for you throughout the event, so you can spend your time focusing on your patrons.</p>
    </div>
  </div>
</section>

<section class="left-right white-background">
  <div>
    <div class="left text">
      <h3>Event Production Services:</h3>
      <ul>
        <li>
          {{#link-to 'lighting-hire'}}Lighting hire{{/link-to}}
        </li>
        <li>
          {{#link-to 'av-hire'}}AV hire{{/link-to}}
        </li>
        <li>
          {{#link-to 'festival-stage-hire'}}Festival stage hire{{/link-to}}
        </li>
        <li>
          {{#link-to 'event-hire'}}Marquees &amp; other equipment{{/link-to}}
        </li>
        <li>
          {{#link-to 'mobile-trailer-stage'}}Mobile Stage Hire{{/link-to}}
        </li>
      </ul>
    </div>
    <div class="right text">
      {{moon-icon name="new-moon"}}
      <h2>PA systems &amp; everything you need</h2>
      <p>Whether you're hosting a music concert, a local sporting event, community festivals or launching a new venue, the team at Moon Mother Productions can provide you with a quality sound system for the event. Established in 1991 by Jenny Moon, she and the rest of the team have over 60 years of experience in the industry. Since then, we have built a reputation for high-quality professional service. We work closely with our clients to ensure we're meeting all requirements. Whether you need to hire a PA system or are looking for a full event management service, we're the team to call. Some of the additional event production services we offer include:</p>
    </div>
  </div>
</section>

<section class="centre-all dark-background">
  <div>
    {{moon-icon name="three-moons"}}
    <h2>Contact us for PA hire in Melbourne today</h2>
    <p>Moon Mother Productions cover everything you need for complete event management. From staging, audio, lighting and special effects right through to logistics, planning and risk management.</p>
  </div>
</section>
